.button {
    margin-right: 100px;
}


.card-body {
    margin: 50px;
    position: relative;
}
.card {
    margin: 250px;
    position: relative;
}

a {
    color: white;
}
.nav-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.card-grody {
    position: relative;
    top: 200px;
    left: 250px;
}
.grody-button {
    position: relative;

}
.name {
    text-decoration: none;
    color: orange;
}


.text-block {
    position: absolute;
    background-color: rgb(98, 37, 133);
    color: white;
    top: 70%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 200px; /* Set the width of the positioned div */
    margin: -52px;
    z-index: 999;
}


/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


